@model QuachMinhHoang_2280601063.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
            @Html.DisplayFor(model => model.Name)
        </dd>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
            @Html.DisplayFor(model => model.Price)
        </dd>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    </form>
</div>

